@font-face {
    font-family: 'ralewaylight';
    src: url('../fonts/raleway-light-webfont.eot');
    src: url('../fonts/raleway-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-light-webfont.woff2') format('woff2'),
         url('../fonts/raleway-light-webfont.woff') format('woff'),
         url('../fonts/raleway-light-webfont.ttf') format('truetype'),
         url('../fonts/raleway-light-webfont.svg#ralewaylight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaymedium';
    src: url('../fonts/raleway-medium-webfont.eot');
    src: url('../fonts/raleway-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-medium-webfont.woff2') format('woff2'),
         url('../fonts/raleway-medium-webfont.woff') format('woff'),
         url('../fonts/raleway-medium-webfont.ttf') format('truetype'),
         url('../fonts/raleway-medium-webfont.svg#ralewaymedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'playfair_displaybold';
    src: url('../fonts/playfairdisplay-bold-webfont.eot');
    src: url('../fonts/playfairdisplay-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/playfairdisplay-bold-webfont.woff2') format('woff2'),
         url('../fonts/playfairdisplay-bold-webfont.woff') format('woff'),
         url('../fonts/playfairdisplay-bold-webfont.ttf') format('truetype'),
         url('../fonts/playfairdisplay-bold-webfont.svg#playfair_displaybold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'playfair_displayregular';
    src: url('../fonts/playfairdisplay-regular-webfont.eot');
    src: url('../fonts/playfairdisplay-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/playfairdisplay-regular-webfont.woff2') format('woff2'),
         url('../fonts/playfairdisplay-regular-webfont.woff') format('woff'),
         url('../fonts/playfairdisplay-regular-webfont.ttf') format('truetype'),
         url('../fonts/playfairdisplay-regular-webfont.svg#playfair_displayregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaylight_italic';
    src: url('../fonts/raleway-lightitalic-webfont.eot');
    src: url('../fonts/raleway-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/raleway-lightitalic-webfont.woff') format('woff'),
         url('../fonts/raleway-lightitalic-webfont.ttf') format('truetype'),
         url('../fonts/raleway-lightitalic-webfont.svg#ralewaylight_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaymedium_italic';
    src: url('../fonts/raleway-mediumitalic-webfont.eot');
    src: url('../fonts/raleway-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-mediumitalic-webfont.woff2') format('woff2'),
         url('../fonts/raleway-mediumitalic-webfont.woff') format('woff'),
         url('../fonts/raleway-mediumitalic-webfont.ttf') format('truetype'),
         url('../fonts/raleway-mediumitalic-webfont.svg#ralewaymedium_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'playfair_displaybold_italic';
    src: url('../fonts/playfairdisplay-bolditalic-webfont.eot');
    src: url('../fonts/playfairdisplay-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/playfairdisplay-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/playfairdisplay-bolditalic-webfont.woff') format('woff'),
         url('../fonts/playfairdisplay-bolditalic-webfont.ttf') format('truetype'),
         url('../fonts/playfairdisplay-bolditalic-webfont.svg#playfair_displaybold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'playfair_displayitalic';
    src: url('../fonts/playfairdisplay-italic-webfont.eot');
    src: url('../fonts/playfairdisplay-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/playfairdisplay-italic-webfont.woff2') format('woff2'),
         url('../fonts/playfairdisplay-italic-webfont.woff') format('woff'),
         url('../fonts/playfairdisplay-italic-webfont.ttf') format('truetype'),
         url('../fonts/playfairdisplay-italic-webfont.svg#playfair_displayitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}



body, html {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

section {
  padding: 3rem 0;
}

.top-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: .5rem;
    padding-top: 1rem;
    padding-left: 2%;
    padding-right: 2%;
}

.logo {
    align-self: flex-start;
    flex: 0 1 50%;
    padding-bottom: 1%;
    height: auto;
}

.logo img {
  max-width: 120px;
}


.navigation {
  align-self: center;
  flex: 1 0 auto;
}

.navigation ul {
    border-top: 1px solid #d7d7d7;
    padding-top: .5rem;
    text-align: center;
    padding-left: 0;
    margin: 0;
}

.navigation li {
    display: inline-block;
    font-weight: 700;
    margin: 0 1rem;
    text-transform: uppercase;
}

.navigation a {
  text-decoration: none;
  font-family: 'ralewaymedium';
  font-size: 0.85rem;
  color: #e2574c;
  cursor: pointer;
  text-transform: uppercase;
}

.cart {
    align-self: flex-end;
    cursor: pointer;
    flex: 0 1 50%;
    text-align: right;
    width: 50px;
    padding-bottom: 1%;
}

.cart img {
  height: auto;
  max-width: 100%;
}

.banner {
  width: 100%;
  
  background: 
  linear-gradient(to bottom, rgba(0,0,0,0.25), rgba(100,100,100,0.25)),
  url('../images/banner-girl.png') no-repeat center 60px,
  url('../images/flower-bkgd.jpg') repeat-x top;
  background-size: cover, 150px 370px, cover;
  height: 400px;
  position: relative;   
}

.banner p {
  text-align: center;
  margin: 15px auto;
  color: #fff;
}

.banner p.collection {
  font-size: 1rem;
  font-family: 'ralewaymedium';
  padding-top: 35%;
  margin-top: 0;
  text-transform: uppercase;
}

.banner p.season {
  font-size: 2rem;
  font-family: 'playfair_displayregular';
}

.description {
  padding: 40px;
}

.description p {
  font-family: 'ralewaylight';
  font-size: 1rem;
  color: #716f70;
  max-width: 590px;
  margin: auto;
  text-align: center;
  line-height: 35px;
}


.categories {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    font-family: 'ralewaymedium';
    text-transform: uppercase;
    font-size: 2.1875rem;
    color: #fff;
}

.categories p {
  margin: 6px 0 6px;
}

.mens {
  flex-grow: 8;
  flex-shrink: 1;

  background: 
  linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(100,100,100,0.2)),
  url(../images/mens-category.jpg) center center no-repeat;
 
  background-size: cover;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.trends {
  flex-grow: 1;
  flex-shrink: 2;

  background: 
  linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(100,100,100,0.2)),
  url(../images/trends-category.jpg) center center no-repeat;
  
  background-size: cover;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.glasses {
  flex-grow: 1;
  flex-shrink: 2;

  background: 
  linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(100,100,100,0.2)),
  url(../images/glasses-category.jpg) center center no-repeat;
  
  background-size: cover;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sale {
  flex-grow: 1;
  flex-shrink: 2;

  background: 
  linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(100,100,100,0.2)),
  url(../images/sale-category.jpg) center center no-repeat;
  
  background-size: cover;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.bags {
  flex-grow: 1;
  flex-shrink: 2;

  background: 
  linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(100,100,100,0.2)),
  url(../images/bags-category.jpg) center center no-repeat;
  
  background-size: cover;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.womens {
  flex-grow: 8;
  flex-shrink: 1;

  background: 
  linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(100,100,100,0.2)),
  url(../images/womens-category.jpg) center center no-repeat;
 
  background-size: cover;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}


h2 {
  text-align: center;
  font-family: 'playfair_displaybold';
  font-size: 2.25rem;
}

h2 span {
  font-family: 'playfair_displayitalic';
}


.products li {
  display: inline-block;
  text-align: center;
}


.products ul {
  margin: 80px auto;
  display: flex;
  justify-content: space-around;
}

.products p {
  font-family: 'ralewaylight';
  font-size: 0.625rem;
  color: #716f70;
  text-transform: uppercase;
}

.products h3 {
  font-family: 'playfair_displayregular';
  font-size: 1rem;
  color: #e2574c;
}

.signup {
  background: 
  linear-gradient(to bottom, rgba(0,0,0,0.15), rgba(100,100,100,0.15)), 
  url(../images/wave-bkgd.jpg) no-repeat bottom;
  margin-bottom: 8px;
}

.signup p {
  font-family: 'ralewaylight';
  font-size: 1rem;
  color: #fff;
  margin: 0;
  text-align: center;
  line-height: 30px;
  text-shadow: 2px 2px 4px hsla(0,0%,39%,.8);
}

.signup h2 {
  color: #fff;
  text-shadow: 2px 2px 4px hsla(0,0%,39%,.8);
}

input[type="email"] {
  border-radius: 20px;
  height: 41px;
  width: 360px;
  border:none;
  font-family: 'ralewaylight';
  padding-left: 20px;
  font-size: 0.87rem;
}

form.email {
  display: flex;
  justify-content: center;
  padding-top: 60px;
}

/*Add box shadow to email form*/

button {
  border-radius: 20px;
  height: 35px;
  border:none;
  font-family: 'ralewaylight';
  color: #fff;
  background-color: #e2574c;
  width: 100px;
  font-size: 0.87rem;
  margin-left: -105px;
  margin-top: 4px;
  cursor: pointer;
}

.website-footer {
  background-color: #292929;
  color: #fff;
  font-family: 'playfair_displayregular';
  padding: 10%;
  line-height: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  font-size: 0.9rem;
}

.website-footer a {
  text-decoration: none;
  color: #fff;
}

.company-details span {
  color: #716f70;
}

.social-media ul {
  justify-content: center;
  padding-left: 0;
  margin-top: 20%;
}

.social-media li {
  list-style: none;
  font-family: 'ralewaylight';
  text-align: left;
  display: inline-block;
  margin: 1.5%;
}

.sm-name {
  display: none;
}

@media screen and (min-width: 600px) {

}





@media screen and (min-width: 1240px) {
 
}
Contact GitHub API Training Shop Blog About
© 2017 GitHub, Inc. Terms Privacy Security Status Help