@font-face {
    font-family: 'ralewaylight';
    src: url('../fonts/raleway-light-webfont.eot');
    src: url('../fonts/raleway-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-light-webfont.woff2') format('woff2'),
         url('../fonts/raleway-light-webfont.woff') format('woff'),
         url('../fonts/raleway-light-webfont.ttf') format('truetype'),
         url('../fonts/raleway-light-webfont.svg#ralewaylight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaymedium';
    src: url('../fonts/raleway-medium-webfont.eot');
    src: url('../fonts/raleway-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-medium-webfont.woff2') format('woff2'),
         url('../fonts/raleway-medium-webfont.woff') format('woff'),
         url('../fonts/raleway-medium-webfont.ttf') format('truetype'),
         url('../fonts/raleway-medium-webfont.svg#ralewaymedium') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'playfair';
    src: url('../fonts/playfairdisplay-bold-webfont.eot');
    src: url('../fonts/playfairdisplay-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/playfairdisplay-bold-webfont.woff2') format('woff2'),
         url('../fonts/playfairdisplay-bold-webfont.woff') format('woff'),
         url('../fonts/playfairdisplay-bold-webfont.ttf') format('truetype'),
         url('../fonts/playfairdisplay-bold-webfont.svg#playfair_displaybold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'playfair';
    src: url('../fonts/playfairdisplay-regular-webfont.eot');
    src: url('../fonts/playfairdisplay-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/playfairdisplay-regular-webfont.woff2') format('woff2'),
         url('../fonts/playfairdisplay-regular-webfont.woff') format('woff'),
         url('../fonts/playfairdisplay-regular-webfont.ttf') format('truetype'),
         url('../fonts/playfairdisplay-regular-webfont.svg#playfair_displayregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaylight';
    src: url('../fonts/raleway-lightitalic-webfont.eot');
    src: url('../fonts/raleway-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/raleway-lightitalic-webfont.woff') format('woff'),
         url('../fonts/raleway-lightitalic-webfont.ttf') format('truetype'),
         url('../fonts/raleway-lightitalic-webfont.svg#ralewaylight_italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'ralewaymedium';
    src: url('../fonts/raleway-mediumitalic-webfont.eot');
    src: url('../fonts/raleway-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-mediumitalic-webfont.woff2') format('woff2'),
         url('../fonts/raleway-mediumitalic-webfont.woff') format('woff'),
         url('../fonts/raleway-mediumitalic-webfont.ttf') format('truetype'),
         url('../fonts/raleway-mediumitalic-webfont.svg#ralewaymedium_italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'playfair';
    src: url('../fonts/playfairdisplay-bolditalic-webfont.eot');
    src: url('../fonts/playfairdisplay-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/playfairdisplay-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/playfairdisplay-bolditalic-webfont.woff') format('woff'),
         url('../fonts/playfairdisplay-bolditalic-webfont.ttf') format('truetype'),
         url('../fonts/playfairdisplay-bolditalic-webfont.svg#playfair_displaybold_italic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'playfair';
    src: url('../fonts/playfairdisplay-italic-webfont.eot');
    src: url('../fonts/playfairdisplay-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/playfairdisplay-italic-webfont.woff2') format('woff2'),
         url('../fonts/playfairdisplay-italic-webfont.woff') format('woff'),
         url('../fonts/playfairdisplay-italic-webfont.ttf') format('truetype'),
         url('../fonts/playfairdisplay-italic-webfont.svg#playfair_displayitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}



* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #2d2d2d;
  font-family: 'ralewaylight', sans-serif;
}

.container {
    padding: 0 2%;
    margin: 0 auto;
    width: 100%;
}

:focus {
  outline: 0;
}

section {
  padding: 3rem 0;
}

h2 {
  text-align: center;
  font-family: 'playfair', serif;
  font-size: 2rem;
  font-weight: bold;
  font-style: normal;
}

h2 span {
  font-family: 'playfair', serif;
  font-weight: normal;
  font-style: italic;
}

.top-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: .5rem;
    padding-top: 1rem;
    padding-left: 2%;
    padding-right: 2%;
}

.logo {
    align-self: flex-start;
    flex: 0 1 50%;
    padding-bottom: 1%;
    height: auto;
}

.logo img {
  max-width: 120px;
}


.navigation {
  align-self: center;
  flex: 1 0 auto;
}

.navigation ul {
    border-top: 1px solid #d7d7d7;
    padding-top: .5rem;
    text-align: center;
    padding-left: 0;
    margin: 0;
}

.navigation li {
    display: inline-block;
    font-weight: 700;
    margin: 0 1rem;
    text-transform: uppercase;
}

.navigation a {
  text-decoration: none;
  font-family: 'ralewaymedium', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 0.9rem;
  color: #e2574c;
  cursor: pointer;
  text-transform: uppercase;
}

a:hover {
  color: #b64036;
}

.cart {
    align-self: flex-end;
    cursor: pointer;
    flex: 0 1 50%;
    text-align: right;
    width: 50px;
    padding-bottom: 1%;
}

.cart img {
  height: auto;
  max-width: 100%;
}

.banner {
  width: 100%;
  
  background: 
  linear-gradient(to bottom, rgba(0,0,0,0.25), rgba(100,100,100,0.25)),
  
  url('../images/banner-girl.png') no-repeat center 60px,
  url('../images/flower-bkgd.jpg') repeat-x top;
  
  background-size: cover, 150px 370px, cover;
  height: 400px;
  position: relative;  
  padding-bottom: 0; 
}

.banner-text {
    font-weight: 700;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    line-height: 1;
    position: absolute;
    text-align: center;
    text-shadow: 2px 2px 4px hsla(0,0%,40%,.8);
    width: 80%;
}

.banner p {
  margin: 15px auto;
  color: #fff;
}

.banner p.collection {
  font-size: 1.2rem;
  font-family: 'ralewaymedium', sans-serif;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
}

.banner p.season {
  font-size: 2.3rem;
  font-family: 'playfair', serif;
  font-weight: normal;
  font-style: normal;
}

.description {
  padding-bottom: 70px;
}

.description p {
  font-family: 'ralewaylight', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1rem;
  color: #2d2d2d;
  margin: 0 auto;
  text-align: center;
  line-height: 35px;
  width: 90%;
}

.categories {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.big-category {
  flex: 2 0 100%;
  border-right: 0;
  border-left: 0;
  width: 100vw;
  height: 50vw;
}

.small-category {
  flex: 1 0 50%;
  width: 50vw;
  height: 50vw;
}

.big-category, .small-category {
    border: 4px solid #fff;
    position: relative;
}

.category-name {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    height: auto;
    left: 50%;
    line-height: 1;
    position: absolute;
    text-shadow: 2px 2px 4px hsla(0,0%,39%,.8);
    text-transform: uppercase;
    top: 50%;
    transform: translate(-50%,-50%);
}

.category-name a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.category-name a:hover {
  color: 	#FFFACD;
}

.big-category.mens {
  background: 
  linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(100,100,100,0.2)),
  url(../images/mens-category.jpg) no-repeat 50%;
 
  background-size: cover, cover;
  border-left: 0;
  border-right: 0;
}

.small-category.trends {
  background: 
  linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(100,100,100,0.2)),
  url(../images/trends-category.jpg) no-repeat 50%;
  
  background-size: cover, cover;
  border-left: 0;
}

.small-category.glasses {
  background: 
  linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(100,100,100,0.2)),
  url(../images/glasses-category.jpg) no-repeat 50%;
  
  background-size: cover, cover;
  border-right: 0;
}

.small-category.sale {
  background: 
  linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(100,100,100,0.2)),
  url(../images/sale-category.jpg) no-repeat 50%;
  
  background-size: cover, cover;
  border-left: 0;
}

.small-category.bags {
  background: 
  linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(100,100,100,0.2)),
  url(../images/bags-category.jpg) no-repeat 50%;
  
  background-size: cover, cover;
  border-right: 0;
}

.womens {
  background: 
  linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(100,100,100,0.2)),
  url(../images/womens-category.jpg) no-repeat 50%;
 
  background-size: cover, cover;
  border-left: 0;
  border-right: 0;
}

.products-list {
  justify-content: center;
  display: block;
  text-align: center;
  width: 100%;
}

.products-list p {
  font-family: 'ralewaymedium', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 0.75rem;
  color: #969696;
  text-transform: uppercase;
}

.products-list span {
  font-size: 1rem;
}

.products-list h3 {
  font-family: 'playfair', serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1.5rem;
  color: #e2574c;
}

.flickity-prev-next-button {
  display: none;
}

.signup {
  background: 
  linear-gradient(to bottom, rgba(0,0,0,0.15), rgba(100,100,100,0.15)), 
  url(../images/wave-bkgd.jpg) no-repeat bottom;
  margin-bottom: 0.5rem;
}

.signup p {
  font-family: 'ralewaylight', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1rem;
  color: #fff;
  margin-bottom: 2%;
  text-align: center;
  line-height: 30px;
  text-shadow: 2px 2px 4px hsla(0,0%,40%,.8);
  padding: 0 2%;
}

.signup h2 {
  color: #fff;
  text-shadow: 2px 2px 4px hsla(0,0%,40%,.8);
  font-size: 2.1rem;
}

input[type="email"] {
    border-radius: 25px;
    padding: 0.8rem 1.75rem;
    width: 100%;
    border: none;
    font-family: 'ralewaylight', sans-serif;
    font-size: 1rem;
}

input[type="email"]:focus {
  outline:0;
  box-shadow: 1px 1px 6px hsla(0,0%,39%,.8);
}

form.email {
    display: block;
    margin: 2rem auto 0;
    position: relative;
    width: 90%;
}

input[type="submit"] {
    background-color: #e2574c;
    color: #fff;
    cursor: pointer;
    font-weight: 700;
    padding: .5rem 1.5rem;
    border: none;
    border-radius: 25px;
    font-family: 'ralewaymedium', sans-serif;
    font-size: 1rem;
    outline: 0;
    position: absolute;
    right: .25rem;
    top: .25rem;
}

input[type="submit"]:hover {
  background-color: #b64036;
}

.website-footer {
  background-color: #242424;
  color: #fff;
  font-family: 'playfair', serif;
  font-weight: normal;
  font-style: normal;
  line-height: 10px;
  text-align: center;
  font-size: 0.9rem;
  padding: 2rem 0;
}

.website-footer a {
  color: #fff;
}

.website-footer a:hover {
  color: #e2574c;
}

.company-details span {
  color: #969696;
}

.social-media ul {
  padding-left: 0;
  margin-top: 7%;
}

.social-media li {
  list-style: none;
  font-family: 'ralewaylight', sans-serif;
  font-weight: normal;
  font-style: normal;
  text-align: left;
  display: inline-block;
  margin: 1.5%;
}

.social-media li:hover {
  color: #e2574c;
}

.contact {
  padding-top: 1%;
}

.sm-name {
  display: none;
}


@media screen and (min-width: 600px) {

h2 {
  font-size: 2.4rem;
  margin: 1.5rem 0;
}

.top-bar {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-bottom: .5rem;
  padding-top: 1rem;
}

.logo {
  order: 1;
  flex-basis: 20%;
}

.cart {
  order: 3;
  flex-basis: 20%;
}

.navigation {
  order: 2;
  flex-basis: 60%;
}

.navigation a {
  font-size: 0.9rem;
}

.navigation ul {
  border: none;
}

.banner {
  height: 400px;

  background: 
  linear-gradient(to bottom, rgba(0,0,0,0.25), rgba(100,100,100,0.25)),
  
  url('../images/banner-girl.png') no-repeat center 60px,
  url('../images/flower-bkgd.jpg') repeat-x top;
  
  background-size: cover, 155px 375px, cover;

  position: relative;  
  padding-bottom: 0; 
}

.banner-text {
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.banner p.collection {
  font-size: 1.2rem;
}

.banner p.season {
  font-size: 3rem;
}


.description p {
  max-width: 720px;
  font-size: 1.1rem;
}

.description-text {
  max-width: 720px;
}

.big-category {
  flex: 2 0 50%;
  border-right: 0;
  border-left: 0;
  width: 50vw;
  height: 25vw;
}

.big-category.mens {
  border-right: 4px solid #fff;
}

.big-category.womens {
  border-left: 4px solid #fff;
}

.small-category {
  flex: 1 0 25%;
  width: 25vw;
  height: 25vw;
  border-left: 0;
}

.small-category.trends {
  border-left: 4px solid #fff;
}

.small-category.bags {
  border-left: 4px solid #fff;
  border-right: 4px solid #fff;
}

.small-category.sale {
  border-right: 4px solid #fff;
}

.small-category.glasses {
  border-left: 4px solid #fff;
}

.products-list {
  width: 50%;
}

.signup-box {
  max-width: 720px;
}

.signup p {
  font-size: 1.1rem;
  padding: 0 2%;
  margin: 0 auto;
  width: 100%;
}

form.email {
  width: 70%;
}

input[type="email"] {
  padding: 1rem 1.75rem;
}

input[type="submit"] {
  padding: 0.7rem 1.5rem;
}

.website-footer {
  text-align: left;
  display: flex;
  justify-content: space-between;
  padding: 2rem 1.25rem;

}

.website-footer .container {
  display: flex;
  justify-content: space-between;
  width: 100%
}

.company-details {
  font-size: 1rem;
  line-height: 15px;
  padding-left: 4%;
  width: 400px;
}

.social-media {
  width: 20%;
  line-height: 30px;
  margin-top: 1%;
}

.social-media li {
  display: block;
}

.social-media ul {
  font-size: 1rem;
}

.social-media a {
  text-decoration: none;
}

.sm-name {
  display: inline;
}

}



@media screen and (min-width: 1240px) {

body, html {
    font-size: 16px;
  }

  .container {
    max-width: 1240px;
  }

.top-bar {
  max-width: 1240px;
}

.logo img {
  max-width: 160px;
}

.logo {
  padding-bottom: 0;
  flex-basis: 20%;
}

.cart {
  width: 62px;
  padding-bottom: 0;
  flex-basis: 20%;
}

.navigation a {
  font-size: 1rem;
}

.banner {
  background-size: cover,250px 615px,contain;
  height: 550px;
  position: relative;
}

.banner-text {
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.banner p.collection {
  font-size: 1.35rem;
}

.banner p.season {
  font-size: 4rem;
}

.description-text {
  width: 720px;
}

.description p {
  width: 100%;
  font-size: 1.2rem;
  }

.products-list {
  width: 25%;
}

.signup-box {
  width: 720px;
}

.signup p {
  margin: 0 auto;
  width: 100%;
  font-size: 1.11rem;
}

.company-details {
  width: 50%;
  padding-left: 2%;
}

.social-media {
  width: 10%;
}

.social-media ul {
  margin-top: 0;
}

}